footer {
  margin: 0 80px;
    display: flex;
    border-top: 1px solid #E3E3E4;
    
  a {
    /* font-family: Gilroy-Regular; */
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    margin-right: 20px;
    color: #595964;
    margin-top: 15px;
  }
}