.App {
  display: flex;
}

.logo-wrapper {
  padding: 12px 8px;
  border-right: 1px solid #ECECED;
}

.left-bar {
  width: 20%;
}

.view {
  width: 80%;
}

.account {
  padding: 16px;
  border: 1px solid #ECECED;
  display: flex;
  justify-content: space-between;
  border-top: 0;
  height: 64px;
  box-sizing: border-box;

  .account-name {
    display: flex;
    align-items: center;
    /* font-family: Gilroy-SemiBold; */
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;

    p {
      margin-left: 10px;
    }
  }

  img {
    align-self: center;
    cursor: pointer;
  }
}

.flex {
  display: flex;
}